<article>
<h3>Authorization Requested</h3>
<% @application = Application.find(@pre_auth.client.application.application_id) %>
<p>
  <div class="object-box">
  <img src="<%= @application.entity.image %>" alt="">
  <div class="content-box">
    <div class="title"><%= @application.entity.name %></div>
    <div class="subtitle"><%= @application.entity.context.title %></div>
  </div>
</div>
</p>
<p>
  is asking to connect your Credport account. With this authorization you will be able to show your Credport profile on <%= @application.entity.name %> to improve your trustworthiness.
</p>
    <%= form_tag oauth_authorization_path, :method => :post, :style => 'display: inline-block;' do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag "Authorize", :class => "button success" %> or
    <% end %>
    <%= form_tag oauth_authorization_path, :method => :delete, :style => 'display: inline-block;' do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= submit_tag "Deny", :class => "button secondary" %>
    <% end %>

</article>