<%= form_for [@application, @context] do |f| %>
<% if @context.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@context.errors.count, "error") %> prohibited this Context from being saved:</h2>

    <ul>
    <% @context.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>